@page
@model WebApplication2.Pages.AddCarInfoModel
@{
}
<head>
    <style>
        body{
            background-color: rgb(25,25,25);
        }
    </style>
</head>
<body>
    <h1 class="h1 h1-header" style="color:white;">Добавить машину</h1>
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control bg-dark text-light" asp-for="Brand" placeholder="Марка" aria-label="Марка" required maxlength="30" pattern="\D+"/>
            <input type="text" class="form-control bg-dark text-light" asp-for="Model" placeholder="Модель" aria-label="Модель" required />
            <input type="number" class="form-control bg-dark text-light" asp-for="Release" placeholder="Год выпуска" aria-label="Год выпуска" min="1960" max="2025" title="Год должен быть от 1960-2025" />
        </div>
        <div class="input-group mb-3">
            <input type="number" class="form-control bg-dark text-light" asp-for="Power" placeholder="Мощность двигателя" aria-label="Мощность" required min="50" max="1500" title="Мощность двигателя  должна быть от 50 до 1500 л.с."/>
            <span class="input-group-text" id="basic-addon1">л.с.</span>
            <input type="number" class="form-control bg-dark text-light" asp-for="Cost" placeholder="Цена аренды" aria-label="Цена аренды" required min="500" max="300000" title="Цена аренды должна быть в пределах от 500 до 300000 руб/сут"/>
            <span class="input-group-text" id="basic-addon1">руб./сут.</span>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control bg-dark text-light" asp-for="PlateNumber" placeholder="Гос. номер" aria-label="Государственный номер" required pattern="^[АВЕКМНОРСТУХ]\d{3}[АВЕКМНОРСТУХ]{2}\d{2,3}" title="Некорректный формат гос. номера"/>
        </div>
        <button type="submit" class="btn btn-outline-secondary btn-dark">Добавить</button>
    </form>
</body>
